.zscl-content{
    font-size: 12px;
}
.zscl-title-wrap{
    padding: 12px 0;
}
.zscl-title{
    font-size: 12px;
    font-weight: 600;
    &:before{
        height: 2px;
        margin-right: 6px;
        padding-right: 4px;
        background: #3699fe;
        content: "";
    }
}
.zscl-warn{
    padding: 8px 6px;
    background: #242834;;
}
.zscl-warn-content{
    padding: 12px;
    font-size: 10px;
    background: rgba(58,47,53);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.2);
}
.zscl-warn-span{
    color: rgba(211,116,86);
    margin-left: 3px;
}

.zscl-map{
    margin-top: 12px;
    position: relative;
}
.zscl-title-orange {
    margin:6px 0 0 6px;
    font-size: 12px;
    font-weight: 600;
    &:before{
        height: 2px;
        margin-right: 6px;
        padding-right: 4px;
        background: orange;
        content: "";
    }
}
.zscl-left-content{
    overflow: auto;
    z-index: 10;
    padding: 6px;
    background-color: rgba(35,41,53,0.9);
    position: absolute;
    color: #ffffff;
    border: 1px solid rgba(119,136,153,0.3);
    width: 25%;
    margin: 12px;
    min-height: 480px;
    max-height: 500px;
}
.area-box{
    display: flex;
    align-items: center;
    margin:16px 0;
}
.area-item{
    margin-left: 12px;
}
.area-item-title{
    margin-bottom: 6px;
    color: #888888;
    font-size: 10px;
}
.area-item-total{
    color: dodgerblue;
    font-size: 16px;
    font-weight: 600;
}
.area-item-number{
    color: orange;
    font-size: 16px;
    font-weight: 600;
}

html,body,#root{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.map {
    width: 100%;
    height: 550px;
    padding: 0;
    margin: 0;
}

.industry-list-container{
    font-size: 10px;
    margin-top: 12px;
    border: 1px solid #0e121d;
    border-radius: 5px;
    & table {
        width: 100%;
        border-collapse: collapse;
    }

    & th, & td {
        padding: 8px;
    }

    & th {
        text-align: left; /* 标题居左对齐 */
        background-color: #0b1326;
    }

    & td {
        border-top: 1px solid #0e121d;
    }

    & tr:last-child & td {
        border-bottom: 1px solid #0e121d;
    }

    .showList-span{
        margin-left: 4px;
        & first-child {
            margin: 0;
        }
    }
}
.zscl-echarts-box{
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
}
.zscl-echarts-item{
    margin-top: 12px;
    width: 50%;
}


.zscl-info{
    padding: 8px 6px;
    background: #242834;;
}
.zscl-info-content{
    padding: 12px;
    font-size: 10px;
    background: rgba(135,206,250,0.2);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.2);
}
.zscl-info-span{
    color: #3699fe;
    margin-left: 3px;
}

.zscl-healthy{
    position: relative;
    padding: 4px 16px 16px 16px;
    margin-top: 12px;
    background: #121923;
    border-radius: 2px;
    font-size: 10px;
}
.zscl-img{
    right: 0;
    bottom: 0;
    width: 220px;
    height: 160px;
    background: url('../../../static/image/status-healthy.png');
    position: absolute;
}
.zscl-healthy-box{
    display: flex;
}
.zscl-healthy-item{
    margin-top: 12px;
    width: 50%;
}
.zscl-healthy-box-number{
    margin: 12px 0;
    font-size: 24px;
}
.zscl-healthy-rules{
    color: deepskyblue;
    margin-top: 6px;
    & span{
        color: #ffffff;
    }
}



.zscl-good-content{
    padding: 12px;
    font-size: 10px;
    background: rgba(135,206,250,0.2);
    box-shadow: 0 6px 20px 0 rgba(0,0,0,.2);
}
.zscl-good-span{
    color: #3699fe;
    margin-left: 3px;
}